body {
    text-align: center;
}

.settingsDiv {
    background: var(--secondary);
    border-radius: 15px;
    padding: 10px;
    padding-bottom:15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1%;
}

.settings>div>p {
    font-size: 1.2cqw;
    white-space: nowrap;
}

.settings>div {
    padding:5px;
    border-radius: 15px;
    background: var(--background);
}



