.title {
    text-align: center;
    margin: 0;
    height: 30vh;
    vertical-align: middle;
    line-height: 20vh;
    font-size: 5vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pageContainer {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    width: 100%;
    height: 100vh;
    background: var(--background);
    grid-gap: .5%;
}

.pageContainer>div {
    margin: 10px;
    border-radius: 20px;
}

.leftBox {
    grid-column: 1/4;
    grid-row: 1/10;
    background: var(--main);
}

.profile {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-gap: 2%;
    padding: 10px;
}

.profile>div {
    border-radius: 15px;
}

.profile>.pfp {
    grid-column: 1/2;
    grid-row: 1/4;
    background: var(--secondary);
    display: grid;
    grid-auto-rows: auto;
    padding: 5px;
    border-radius: 10px;
}

.profile>.pfp>.image {
    align-items: center;
    text-align: center;
    background: var(--pfpColor);
    grid-row: 1/3;
    border-radius: 10px;
}

.profile>.pfp>.name {
    grid-row: 3/4;
    text-align: center;
    font-size: 1em;
}

.profile>.badges {
    grid-column: 2/3;
    grid-row: 1/4;
    background: var(--secondary);
}

.profile>.info {
    grid-column: 1/3;
    grid-row: 4/10;
    background: var(--secondary);
}


.midBox {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-column: 4/8;
    grid-row: 1/10;
    background: var(--main);
    grid-gap: 2%;
    padding: 10px;
}

.midBox>div {
    border-radius: 15px;
}

.midBox>.questBox {
    grid-column: 1/3;
    grid-row: 1/3;
    background: var(--secondary);
}

.midBox>.battleBox {
    grid-column: 1/2;
    grid-row: 3/5;
    background: var(--secondary);
}

.midBox>.chatBox {
    grid-column: 2/3;
    grid-row: 3/5;
    background: var(--secondary);
}

.midBox>.timeTrialBox {
    grid-column: 1/3;
    grid-row: 6/7;
    background: var(--secondary);
}

.midBox>.addExerciseBox {
    grid-column: 1/3;
    grid-row: 7/8;
    background: var(--secondary);
}

.midBox>.healthBox {
    grid-column: 1/3;
    grid-row: 5/6;
    background: var(--secondary);
}


.rightTopBox {
    grid-column: 8/10;
    grid-row: 1/6;
    background: var(--main);
    text-align: center;
    color: var(--textColor);
    padding: 5px;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

.rightTopBox>h1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.settings {
    background: var(--secondary);
    border-radius: 15px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/3;
    grid-row: 2/10;
    grid-gap: 1%;
    max-width: 100%;
}

.settings>div>p {
    font-size: 1.2cqw;
    white-space: nowrap;
}

.settings>div {
    border-radius: 15px;
    background: var(--background);
    align-items: center;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sliderOff);
    -webkit-transition: .4s;
    transition: .4s;
	border-radius: 34px;
}

.slider:hover {
    transform: scale(1.05);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--sliderTab);
    -webkit-transition: .4s;
    transition: .4s;
	border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--sliderOn);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.rightBottomBox {
    grid-column: 8/10;
    grid-row: 6/10;
    background: var(--main);
    padding: 5px;
}

.button {
    transition: ease .5s;
}

.button:hover {
    transition: ease .5s;
    transform: scale(1.05);
}

.bubble {
    transition: ease .5s;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.bubble:hover {
    transition: ease .2s;
    transform: translate(0, -1.5vh) scale(1.1);
}