:root {
    --background: #1f1f1f;
    --main: transparent;
    --secondary: #436d47;
    --textColor: white;
    --menuColor: white;
    --sliderOff: darkred;
    --sliderOn: green;
    --sliderTab: white;
    --pfpColor: transparent;
    --progressValue: #FFED66;
    --progressBg: #2b2b35;
    --progressBorder: black;
    --tooltip-bg: #436d47;
}

body {
    margin: 0;
    overflow: none;
    width: 98vw;
    height: 100vh;
    background: var(--background);
    font-family: tahoma;
    color: var(--textColor);
}

.homeButton {
    display: inline-block;
    cursor: pointer;
    position:absolute;
    left:0;
    top:0;
    margin:5px;
    user-select: none;
}
.homeButton > div {
    width: 35px;
    height: 5px;
    background-color: var(--menuColor);
    margin: 6px 0;
}

.tooltip {
    background-color:var(--tooltip-bg)!important;
    color:var(--textColor)!important;
    user-select: none!important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sliderOff);
    -webkit-transition: .4s;
    transition: .4s;
	border-radius: 34px;
}

.slider:hover {
    transform: scale(1.05);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--sliderTab);
    -webkit-transition: .4s;
    transition: .4s;
	border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--sliderOn);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
